#addTableModal .modal-content {
  background-color: var(--white);
  font-family: "SplineSans", serif;
}

#addTableModal input {
  background-color: var(--light-grey);
  border: none;
}

#addTableModal input {
  width: 150px;
  height: 45px;
}

#addTableModal .modal-header {
  color: var(--black);
  font-weight: 500;
}

#addTableModal #add-table-submit-butoon {
  color: var(--white);
  background-color: var(--red);
  font-weight: 400;

  border: none;
}

#addTableModal input:focus {
  outline: none !important;
  border: 1px solid var(--red);
  box-shadow: 0 0 7px var(--red);
}

#addTableModal #add-table-submit-butoon:disabled {
  color: var(--white);
  font-weight: 400;
  background-color: var(--light-white);
}
