/* Importing fonts from Google */
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */

body {
  font-family: "SplineSans", serif;
  font-weight: 200;
  min-height: 100vh;
  background-color: var(--cream);
}

.red-btn {
  /* Register */

  position: relative;
  color: #fffcfc;
  background: #ed3545;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.top-btn {
  color: #2e2e2e;
  height: 50px;
  transition-property: "color, background-color";
  background-color: #ffe1e1;
}

.top-btn-active {
  height: 50px;
  background-color: #ed3545;
  transition-property: "color, background-color";
  color: #ffffff;
}

.action-button {
  height: "500px";
  border-radius: 12px;
  background: #ed3545;
  font-weight: 400;
}

#radio_1:checked,
#radio_2:checked {
  background-color: var(--red);
  border: 1px solid var(--red);
  box-shadow: 0 0 7px var(--red);
}

#signup-btn,
#login-btn {
  background-color: var(--red);
  color: var(--white);
}

#login-signup input {
  background-color: var(--light-grey);
  border: none;
}
