<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>403 Error</title>
    <link href="../styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../styles/colors.css" rel="stylesheet" type="text/css" />
    <link href="../styles/errors.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="error-container">
        <h1 class="error-heading">403</h1>
        <p class="error-message">Oops! Forbidden</p>
        <a href="#" class="btn btn-primary error-link">Go back to Home</a>
      </div>
    </div>
  </body>
</html>
