<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../styles/normalize.css" rel="stylesheet" type="text/css" />
    <link href="../styles/font.css" rel="stylesheet" type="text/css" />
    <link href="../styles/colors.css" rel="stylesheet" type="text/css" />
    <link href="../styles/header.css" rel="stylesheet" type="text/css" />
    <link href="../styles/shared.css" rel="stylesheet" type="text/css" />
    <link href="../styles/footer.css" rel="stylesheet" type="text/css" />
    <link href="../styles/login_signup.css" rel="stylesheet" type="text/css" />

    <title>Login</title>
  </head>

  <body class="d-flex flex-column">
    <main class="flex-grow-1">
      <div class="wrapper">
        <div class="logo">
          <img src="../images/logo.png" alt="" />
        </div>
        <div class="text-center mt-4 name">LOGIN</div>
        <form class="p-3 mt-3">
          <div class="form-field d-flex align-items-center">
            <input
              type="text"
              name="userName"
              id="userName"
              placeholder="Username"
            />
          </div>
          <div class="form-field d-flex align-items-center">
            <input
              type="password"
              name="password"
              id="pwd"
              placeholder="Password"
            />
          </div>
          <button class="btn mt-3">Login</button>
        </form>
        <div class="text-center fs-6">
          <a href="#">Forget password?</a> or <a href="#">Sign up</a>
        </div>
      </div>
    </main>
  </body>
</html>
